header {
  background-color: white;


}

.header-top {
  font-family : serif ;
  padding: 20px 630px;


}

.header-logo {

font-size : 37px;
}

main {
  background-color: ;
  height : 1890px;
}


.main-image img{
  display: block;
  margin:auto;
  padding: 50px 120px;
  width: 80%;
  height: 550px;

}



.contents-one,
.contents-two,
.contents-three,
.contents-four{
  padding-top: 150px;
  padding-left: 50px;
  margin-left: 100px;

}

.contents-one img,
.contents-two img,
.contents-three img,
.contents-four img{
    border-radius: 70%;
    width:  230px;
    height: 230px;
}



.contents-one,
.contents-two,
.contents-three,
.contents-four {
  padding-top: 40px;
  margin-left: 160px;
  float: left;
  position: relative;
  top: 80px;
  width: 30%;
}



.main-title {
  font-family : serif ;
  font-size: 11px;
  text-align: center;
}


.contents {
  float: left;
  padding-top: 240px;
  margin: 100px 40px;
}

.box19 {
  margin-left: 30px;

    position: relative;
    padding:0.5em 2em;

}
.box19:before,.box19:after{
    content:'';
    width: 20px;
    height: 30px;
    position: absolute;
    display: inline-block;


}
.box19:before{
    border-left: solid 1px #5767bf;
    border-top: solid 1px #5767bf;
    top:0;
    left: 0;

}
.box19:after{
    border-right: solid 1px #5767bf;
    border-bottom: solid 1px #5767bf;
    bottom:0;
    right: 0;
    margin: 30px;

}




.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.inner {
float: left ;　
}
.inner p{
float:right;
margin-left: 30px;
}

.box-text p {
  margin: 20px;
}

.contents {
  padding-top: 20px;
  position: relative;

}
.contents-item {

  float: left;
  width: 20%;
  text-align: center;
  top:20px;
  left:30px;
}

.contents-item img {
width:40%;

}
.contents-item p {
  position: absolute;
  top: 80px;
  width: 30%;
}

.tokyo {
  background-image: url(https://techacademy.jp/magazine/23884);
}

hr {
  height: 1px;
  border: none;
  border-top: 1px #000000 solid;
}


a:visited {

color:#808080;
text-decoration:underline;

}
li {
  float: left;
  list-style : none;
  font-size : 15px;
  word-spacing : 4px;
  padding-left: 78px;
  margin-left: 78px;


}

hr {
  border: solid 0.5px red;
  width:78%;
}

footer {
  background-color: white;
  font-family : serif ;
  height: 270px;
  width: auto;
  margin: 20px 85px;
  float: left;

}


.footer-me img{
  border-radius: 70%;
  width:  120px;
  height: 120px;
}
.footer-me {
  text-align: center;
}
i {
  font-size: 26px;
  letter-spacing:15px;
}
